<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="toolbar-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Encuestas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <iframe data-tap-disabled="true"  frameborder="0" src="https://docs.google.com/forms/d/e/1FAIpQLScewGPhVRVvH9bAzSuEYgLeuRk5uEwQ_5ALptIZbeWM5MSWCQ/viewform?vc=0&c=0&w=1">
	</iframe>
  
  </ion-content>
</ion-content>
