<ion-tabs>

  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="home">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="catalog">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Catálogo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="form">
      <ion-icon name="send"></ion-icon>
      <ion-label>Formularios</ion-label>
    </ion-tab-button>
	
	<ion-tab-button tab="multimedia">
	  <ion-icon name="images"></ion-icon>
      <ion-label>Multimedia</ion-label>
    </ion-tab-button>
	
  </ion-tab-bar>

</ion-tabs>
