<ion-header>
  <ion-toolbar color="primary">
    <img slot="start" src="assets/img/logo.svg" class="logoImage">
    <ion-title> Formularios </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
	<ion-item-group>
		<ion-item-divider  color="light">
		<ion-icon slot="start" color="medium" name="paper"></ion-icon>
		<ion-text color="medium"> Encuestas </ion-text>
		</ion-item-divider>
		<ion-item *ngFor="let form of formsList">
			<h6>{{form.title}}<br/><small>{{form.subtitle}}</small></h6>
			<ion-button slot="end" expand="full" fill="outline" color="primary" (click)="goToForm(form.url)">
				Ir a Formulario
			</ion-button>
		</ion-item>
		
	</ion-item-group>
</ion-content>
