<ion-header>
  <ion-toolbar color="primary">
	<img slot="start" src="assets/img/logo.svg" class="logoImage">
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="tertiary">

  
  <ion-slides pager="true" *ngIf="categories">
    <ion-slide *ngFor="let category of categories" (click)="goToCategory(category)">
		<ion-card>
			<img [src]="category.imagen" class="slide-image" />
		</ion-card>
    </ion-slide>
  </ion-slides>

  <div class="spacer"></div>
  
  <ion-grid>
    <ion-row align-items-end>
      <ion-col col-4 *ngFor="let product of products;" on-click="goToProduct(product)">
        <ion-card>
          <img [src]="product.imagen" class="card-image" />
          <div class="card-title" [innerHTML]="product.name"></div>
          <div class="card-subtitle" [innerHTML]="product.category.name"></div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>